<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  ${distributable_tag}
  <display-name>TAIR</display-name>
  <description />
  <context-param>
    <param-name>facelets.LIBRARIES</param-name>
    <param-value>/WEB-INF/tairtaglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>blueSky</param-value>
  </context-param>
  <filter>
    <filter-name>Pretty Filter</filter-name>
    <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Pretty Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/jsp/common/gen_error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>NAASCVote</servlet-name>
    <servlet-class>org.tair.servlet.NAASCVote</servlet-class>
    <init-param>
      <param-name>votingStartDate</param-name>
      <param-value>March 24, 2011 12:00:00 AM</param-value>
    </init-param>
    <init-param>
      <param-name>votingEndDate</param-name>
      <param-value>April 19, 2011 12:00:00 AM</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>POPayment</servlet-name>
    <servlet-class>org.tair.abrc.POPayment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentPopupPO</servlet-name>
    <servlet-class>org.tair.abrc.PaymentPopupPO</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentPopupCC</servlet-name>
    <servlet-class>org.tair.abrc.PaymentPopupCC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>org.tair.tairquery.SearchServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>TairObject</servlet-name>
    <servlet-class>org.tair.tairquery.TairServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>OrderBuilder</servlet-name>
    <servlet-class>org.tair.abrc.OrderBuilder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>org.tair.abrc.CancelOrderHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderPlacer</servlet-name>
    <servlet-class>org.tair.abrc.OrderPlacer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PendingOrderServlet</servlet-name>
    <servlet-class>org.tair.abrc.PendingOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Order</servlet-name>
    <servlet-class>org.tair.abrc.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProxyOrder</servlet-name>
    <servlet-class>org.tair.abrc.ProxyHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Community</servlet-name>
    <servlet-class>org.tair.community.CommunityServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mapper</servlet-name>
    <servlet-class>org.tair.servlet.BioServlet</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GoTerms</servlet-name>
    <servlet-class>org.tair.servlet.GoTerms</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultiServlet</servlet-name>
    <servlet-class>org.tair.tairquery.MultipartServlet</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>processor</servlet-name>
    <servlet-class>org.tair.processor.ProcessorServlet</servlet-class>
    <load-on-startup>8</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>images</servlet-name>
    <servlet-class>org.tair.tairquery.TairImageServlet</servlet-class>
    <load-on-startup>9</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ViewChromosomes</servlet-name>
    <servlet-class>org.tair.genefamily.ViewChromosomes</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InvoiceSearcher</servlet-name>
    <servlet-class>org.tair.search.InvoiceSearcherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeedSearcher</servlet-name>
    <servlet-class>org.tair.tairquery.SeedSearcherServlet</servlet-class>
    <load-on-startup>11</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ScriptServlet</servlet-name>
    <servlet-class>org.tair.servlet.ScriptServlet</servlet-class>
    <load-on-startup>12</load-on-startup>
  </servlet>
  <listener>
    <listener-class>org.tair.utilities.WebApp</listener-class>
  </listener>
  <listener>
    <listener-class>org.tair.utilities.DynamicData</listener-class>
  </listener>
  <listener>
    <listener-class>org.tair.querytools.DetailCacheContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>javax.faces.FacesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>javax.faces.FacesServlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>720</session-timeout>
  </session-config>
  <servlet-mapping>
    <servlet-name>GoTerms</servlet-name>
    <url-pattern>/data/go-term</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiServlet</servlet-name>
    <url-pattern>/servlets/MultiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>processor</servlet-name>
    <url-pattern>/servlets/processor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>images</servlet-name>
    <url-pattern>/servlets/images/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewChromosomes</servlet-name>
    <url-pattern>/servlets/ViewChromosomes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>processor</servlet-name>
    <url-pattern>/servlets/updater</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TairObject</servlet-name>
    <url-pattern>/servlets/StockSearcher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InvoiceSearcher</servlet-name>
    <url-pattern>/servlets/InvoiceSearcher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeedSearcher</servlet-name>
    <url-pattern>/servlets/SeedSearcher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TairObject</servlet-name>
    <url-pattern>/servlet/TairObject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TairObject</servlet-name>
    <url-pattern>/servlets/TairObject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NAASCVote</servlet-name>
    <url-pattern>/servlets/vote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>POPayment</servlet-name>
    <url-pattern>/servlets/po-payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentPopupPO</servlet-name>
    <url-pattern>/servlets/payment-popup-po</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentPopupCC</servlet-name>
    <url-pattern>/servlets/payment-popup-cc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/servlets/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/servlet/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mapper</servlet-name>
    <url-pattern>/servlets/mapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Community</servlet-name>
    <url-pattern>/servlets/Community</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderBuilder</servlet-name>
    <url-pattern>/servlets/Order/current</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/servlets/Order/cancel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProxyOrder</servlet-name>
    <url-pattern>/servlets/Order/proxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderPlacer</servlet-name>
    <url-pattern>/servlets/Order/place</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderPlacer</servlet-name>
    <url-pattern>/servlets/Order/placed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PendingOrderServlet</servlet-name>
    <url-pattern>/servlets/Order/pending</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/servlets/Order</url-pattern>
  </servlet-mapping>
</web-app>
