<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!--
  Copyright (c) 2003 NCGR.  All rights 
  reserved.
-->

<%@ page 
errorPage="/jsp/common/gen_error.jsp" 
import="java.util.*, org.tair.utilities.*, org.tair.abrc.catalog.*, org.tair.querytools.*, org.tair.search.*, org.tair.community.*, org.tair.tfc.*"
%>

<% 
//SearchResultsCollection pageObj = (SearchResultsCollection) request.getAttribute( "pageObj" );
CatalogStock[] stocks = (CatalogStock[]) pageObj.getResults();

int resultSize = pageObj.getResultSize();
int floor = pageObj.getFloor();
int ceiling = pageObj.getCeiling();
String scrollLinks = pageObj.getScrollLinks();
%>

<html>
        <head>
          <title>Confirmed T-DNA Insertion Lines (from SALK, SAIL, WiscDsLox, etc)</title>
          <link rel="stylesheet" type="text/css" href="/css/main.css">
          <link rel="stylesheet" type="text/css" href="/css/search.css">
        </head>

        <body bgcolor="#F5F9FF">
          <center>
            <img src="/images/abrc_med.gif">
            <br>

			<h2>Confirmed T-DNA Insertion Lines (from SALK, SAIL, WiscDsLox, etc)</h2>

             Sorted by locus

            <br><br>
             Displaying <%= floor %> - <%= ceiling %> of <%= resultSize %> in category
             <br>
             <br>
         </center>

         <form action="/servlets/Order/current" method="POST">
             <input type="hidden" name="state" value="addStock">
            
          <table center cellpadding="1" align="center">

          <tr>
             <td class="sm">&nbsp;</td>
             <td class="sm" colspan="6">
                <table width="100%">
                   <tr>
                       <td class="sm" nowrap>
                          <input type="submit" value="Order Stocks">
                           &nbsp;&nbsp;
                          <input type="reset" value="Reset">
                      </td>
                      <td class="sm">
                         If you have checked any stocks to order, please click on "Order Stocks"
                         before leaving this page.  You can return to this page by using the 
                        "Back" button on your browser.
                      </td>
                    </tr>
                 </table>
              </td>
            </tr>

            <!-- write hyperlinks to scroll through catalog pages -->
            <% if ( scrollLinks != null ) { %>
            <tr>
               <td class="sm" colspan="7" align="center"><%= scrollLinks %></td>
            </tr>

            <tr>
               <td class="sm" colspan="6">&nbsp;</td>
            </tr>

            <% } %>

            <tr valign="bottom">
              <th class="sm">Order</th>
              <th class="sm">Stock #</th>
              <th class="sm">Parental<br>Line</th>
              <th class="sm">Locus</th>
              <th class="sm">Gene name(s)</th>
              <th class="sm">Homozygosity</th>
              <th class="sm" nowrap>Donor</th>

            </tr>

      <% for ( int i = 0; i < stocks.length; i++ ) { %>

           <tr valign="top">
              <!-- all stocks should be available so show checkbox no matter what -->
              <td class="sm" align="center"><input type="checkbox" name="stock_number" value="<%= stocks[ i ].get_name() %>"></td>
  
              <!-- Show stock #, but create link to germplasm page .. per Debbie & Randy -->
              <% Germplasm germplasm = stocks[ i ].getGermplasm(); %>
              <td class="sm" align="center" nowrap>
                 <a href="/servlets/TairObject?type=germplasm&id=<%= germplasm.get_tair_object_id() %>" target=_blank><%= stocks[ i ].get_name() %></a>
              </td>             

            <% if ( germplasm.hasParents() ) { %>
             <td class="sm" align="center">
                   <% Pedigree parent = null;
                      Iterator parentIter = germplasm.getParents();
                      boolean firstParent = true;
                      while ( parentIter.hasNext() ) {
                          parent = (Pedigree) parentIter.next();
                          if ( !firstParent ) {
                              out.write( "<br>" );
                          }
                          firstParent = false;
                   %>
                      <a href="/servlets/TairObject?type=germplasm&id=<%= parent.get_germplasm_tair_object_id() %>"><%= parent.get_germplasm_name() %></a>
                   <% } // end parent while %>
                   &nbsp;
                </td>
      
            <% } else { // if no parent data, print blank space %>

               <td>&nbsp;</td>

            <% } %>


            <!-- gene and locus info. all retrieved through polymorphisms -->
			<% if ( germplasm.hasPolymorphisms() ) { %>

              <!-- Iterate through polymorphisms and get locus info. for each one. -->
              <!-- Manually check for duplicate loci, as multiple polys could be 
                   associated to the same one -->
              <td class="sm" align="center">
               <% Iterator polyIter = germplasm.getPolymorphisms();
                  GermplasmPolymorphism polymorphism = null;
                  boolean firstLocus = true;
                  ArrayList loci = new ArrayList();
                  
                  while ( polyIter.hasNext() ) {
                      polymorphism = (GermplasmPolymorphism) polyIter.next();
                      if ( polymorphism.hasLocus() ) {
                          Iterator locusIter = polymorphism.getLocus();
                          Locus locus = null;
                          while ( locusIter.hasNext() ) {
                              locus = (Locus) locusIter.next();
                              if ( !loci.contains( locus.get_name() ) ) {
							      loci.add( locus.get_name() );
	                              if ( !firstLocus ) {
    	                              out.write( ", " );
        	                      }
            	                  firstLocus = false;
               %>
                               <a href="/servlets/TairObject?type=locus&id=<%= locus.get_locus_id() %>" target=_blank><%= locus.get_original_name() %></a>

                             <% } // end unique check %>
                        <% } // end locus while %>
                    <% } // end locus if %>
               <% } // end polymorphism while %>
               &nbsp;
             </td>


             <!-- iterate through polymorphisms again to show gene data grouped by polymorphism -->
             <!-- display gene's using symbol for each gene -->
             <td class="sm" align="center">
               <%  polyIter = germplasm.getPolymorphisms();
                   boolean firstPoly = true;
                   while ( polyIter.hasNext() ) {
                       polymorphism = (GermplasmPolymorphism) polyIter.next();
                       if ( polymorphism.hasGenes() ) { 
		           TreeSet<String> names = new TreeSet();
                           Iterator geneIter = polymorphism.getGenes();
                           GeneModelLite gene = null;
                           boolean firstSymbol = true;
                           if ( !firstPoly ) {
                               out.write( "; " );
                           }

                           while ( geneIter.hasNext() ) {
                               gene = (GeneModelLite) geneIter.next();
                               if ( gene.hasSymbols() ) {

                                   Collection<TfcSymbol> symbols = gene.getSymbols();

                                   for (TfcSymbol symbol : symbols) {
		                       if (symbol.get_full_name() != null) {
		                           names.add(symbol.get_full_name());
		                       } else {
		                           names.add(symbol.get_symbol());
                                       }
                                   }
                               }
                           }

		           if (names.size() > 0) {
                               for (String name : names) {
  
                                       if ( !firstSymbol ) {
                                           out.write( "/" );
                                       }
                                       firstSymbol = false;
               %>
                                 <a href="/servlets/TairObject?type=gene&id=<%= gene.getGeneID() %>" target=_blank><%= name %></a>

                             <% } // end name for%>
                        <% } else {// end name if %>
                                 <a href="/servlets/TairObject?type=gene&id=<%= gene.getGeneID() %>" target=_blank><%= gene.getName() %></a>
                        <% } // end name else %>


                   <% } // end gene if %>
              
                   <% firstPoly = false; %>
               <% } // end polymorphism while %>
                &nbsp;
             </td>

             <!-- iterate through polymorphisms (yet) again to show genotype data -->
             <!-- from link between germplasm and polymorphisms -->
             <!-- Manually check for duplicate entries, as multiple polys could be 
                  associated to germplasm with same genotype -->

             <td class="sm" align="center">
               <%  polyIter = germplasm.getPolymorphisms();
                   boolean firstGenotype = true;
                   ArrayList uniqueGenotypes = new ArrayList();
                   String genotype = null;
                   
                   while ( polyIter.hasNext() ) {
                       polymorphism = (GermplasmPolymorphism) polyIter.next();
                       genotype = polymorphism.get_genotype();
                       
                       if ( genotype != null &&
                            !uniqueGenotypes.contains( genotype ) ) {
                           if ( !firstGenotype ) {
                               out.write( ", " );
                           }
                           firstGenotype = false;
                                                  
               %>
                           <%= genotype %>
                      <% } // end unique check %>
                  <% } // end polymorphism while %>
             </td>             
            
         <% } else { // else if no polymorphisms, show blank columns %>

             <td colspan="3">&nbsp;</td>
             
         <% } // end polymorphism if %>

              <td class="sm" nowrap align="center">
 
               <% if ( stocks[ i ].hasDonors() ) { 
                      Iterator donorIter = stocks[ i ].getDonors();
                      Donor donor = null;
                      boolean firstDonor = true;
                      while ( donorIter.hasNext() ) {
                          donor = (Donor) donorIter.next();
                          if ( !firstDonor ) {
                              out.write( "<br>" );
                          }
                          firstDonor = false;
               %>
                       <a href="/servlets/TairObject?type=<%= donor.getCommunityType() %>&id=<%= donor.getCommunityID() %>" target=_blank><%= donor.getDisplayName() %></a>
                   <% } %>
               <% } %>
               &nbsp;
              </td>

	     </tr>

         <tr>
             <td class="sm" colspan="7"><hr></td>
         </tr>

       <% } // end main stock loop %>


       <!-- write hyperlinks to scroll through catalog pages -->
       <% if ( scrollLinks != null ) { %>
        <tr>
              <td class="sm" colspan="7" align="center"><%= scrollLinks %></td>
        </tr>
       <% } %>

        <tr>
             <td class="sm">&nbsp;</td>
             <td class="sm" colspan="6">
                <table width="100%">
                   <tr>
                       <td class="sm" nowrap>
                          <input type="submit" value="Order Stocks">
                           &nbsp;&nbsp;
                          <input type="reset" value="Reset">
                      </td>
                      <td class="sm">
                         If you have checked any stocks to order, please click on "Order Stocks"
                         before leaving this page.  You can return to this page by using the 
                        "Back" button on your browser.
                      </td>
                   </tr>
                </table>
             </td>
        </tr>

      </table>
     </form>

     
<table width="602" align="center">
      <tr>
        <td align="center"><img src="/images/abrc.gif"></td>
      </tr>

      <tr>
        <td align="center" class="sm">
          If you have comments or questions concerning seed stocks, 
          DNA stocks, stock orders, or fee structure/invoice/payment information,
          please email ABRC at <a href="mailto:abrc@osu.edu">abrc@osu.edu</a>
        </td>
      </tr>
</table>


  </body>
</html>
